header{ 
    //section
    section{
        justify-content: space-between;
        align-items: center;
        
        img{
            width: 35%;
        }
    }//end section

    //nav
    nav{
        //ul
        ul{
            display: flex;
            flex-direction: row;
            align-items: center; 
            //li
            li{
                //a
                a{
                    margin: 0 18px;
                    color: $color-primaria;
                    font-weight: 400;
                }// end a
            }// end li
        }// end ul
    }// end nav
    
}//end header
